*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.center{
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
    flex-wrap: wrap;
}

section.topo{
    padding: 100px 0;
    background-color: #1a1a1a;
}

.logo{
    width: 100%;
    color: white;
    font-size: 23px;
    font-weight: bold;
}

.logo > span{
    color: #ff3f3f;
}

.sobre{
    color: white;
    margin-top: 140px;
}

.sobre h1{
    font-size: 40px;
    margin: 20px 0;
}

.sobre p{

}